[submodule "third_party/serial"]
	path = third_party/serial
	url = git://github.com/wjwwood/serial
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git://github.com/google/googletest
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = git://github.com/fmtlib/fmt
